<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <h4>Referral Email</h4>
      <p>You can join the Direct Shift community by clicking the link below:</p>
      <a href="<%= ENV['ROOT_URL'] %>" >Click here</a>
    </div>
  </body>
</html>